.App {
  text-align: center;
  height:96vh;
  padding:2vh
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.proddtlsdiv p{
  margin:1vh !important;
  /* text-align: left !important; */
}

button{

  background-color: #4CAF50;
  border: none;
  color:black;
  padding: 2% 4%;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1vh 1vw;
  cursor: pointer;
}

.button{

  background-color: #4CAF50;
  border: none;
  color:black;
  padding: 2% 4%;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1vh 1vw;
  cursor: pointer;
}


button:disabled{
  background-color: #7d997e;
  cursor: not-allowed;
}

.disabledbutton{
  background-color: #7d997e;
  cursor: not-allowed;
}
.roundnbutton{
border-radius: 50%;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.productImg{
  margin:1vh 0 0 0
}

.Footerdiv{
  height:10vh;
  width:90vw;
  position: absolute; 
  bottom: 0px; 
  margin: 0vw 5vw;
  background-color:blueviolet;
  right:0
}

.headerdiv{
  box-shadow: 5px 5px 5px gray;
  padding:0.5vh
}


.Footersubdiv{
  width:40%;
  float:left;
  height: 100%;
  padding: 2vh 0vw;
}
.Footersubdiv:last-child{
  float: right;
  height: 100%;
  padding: 3vh 0vw;
}

.Productsdiv{
  margin: 2vh;
  overflow-y: scroll;
  height: 75vh;
}

.prodimgdiv{
  width:40%;
  float:left;
  
}

.proddtlsdiv{
  width:55%;
  float:right;
  font-size: 1.5;
}

proddtlsdiv:nth-child(){
margin: 0 !important;
}

.Productdiv{
  height: 30vh;
  margin: 2vh 0;
  box-shadow: 6px 0px 8px grey;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 35vh auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 400px){
  .Productdiv{
    height:33vh !important
  }
}


html {
  overflow: hidden;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}
